/* @media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    background: url("log1.jpg");
    height: 74vh;
    width: 100vw;;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
    color:white;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
} */
.log-head > center > table{
  font-size: large;
  font-family:cursive;
  margin-top: 25px;
}
.log-head > center > table > tr >td{
  text-align: center;
}
.log-head > center > table > tr > td > a >img{
  height:250px;
  width:250px;
}
.log-head{
  background: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
}