.nav-content{
    display: flex;
    align-items: center;
    columns: black;
    background-color: rosybrown;
    justify-content: space-evenly;
    align-items: center;
    transition: transform 200ms ease-in-out;
} 
/*.logo{
    text-align: center;
    font-family: cursive;
    letter-spacing: 3px;
    padding: 5px 0;
    transition: transform 200ms ease-in-out;

}*/
/*.header-right{
    display: flex;
    flex: 0.6;
    justify-content: space-evenly;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}*/
.nav-content > a{
    transition: transform 200ms ease-in-out;
    transform: scale(1.09);
    font-family:  "Courier New" , monospace;
    letter-spacing: 1px;
}
.nav-content > a >h4:hover {
    transform:scale(1.5);
}
.header_button {
        
        color:white;
        padding: 5px 20px;
        border-radius:2px;
        cursor:pointer;
}  